* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

:root {
    font-size: 62,5%;
}

header {
    margin: 1.5rem;
    margin-top: 1.5rem;
}

header h1 {   
    color: blueviolet;
    text-align: center;
}

header h3 {
    color: rgb(19, 222, 19);
    font-style: oblique;
    text-align: center;
}

main div {
    border: 0.1rem solid red;
    display:grid;
    margin: 1.0rem;
    padding: 1.0rem;
    display: block;
    background-color: blueviolet;
    background-size: contain;
    background-repeat:no-repeat
}

main div h1 {
    font-size: 2.4rem;
    margin: 0.1rem;
}

main div p {
    margin: 1.0rem;
}

main div input {
    margin: 1.0rem;
    justify-content:start;
    align-items: center;
}

#btn_cadastrar {
    color: red;
}