body {
    background: linear-gradient(#6666ec, #4368d7);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    margin: 20px;
    border-radius: 2rem;

  /* Fundo transparente e com leve branco */
  background: rgba(255, 255, 255, 0.15);

  /* Desfoque do que está atrás */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* compatibilidade Safari */

  /*  Bordas e sombra */
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  /* Centralização */
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*titulo cadastro*/
.formulario h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin: 1rem;
    padding: 2rem;
}


/* inputs */
.formulario input{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    border: none;
    outline: none;
}


/* botao cadastrar */
.formulario button{    
  background-color: #6666ec;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  left: 50%;
}


/* botao transição de animação */
button:hover{
  background: #4368d7;
  color: white;
  cursor: pointer;
  border-style:groove;
  transition-duration: 0,5s;
}