

body {
  background-color:#1F2421;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.formulario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  margin: 20px;
  border-radius: 2rem;

  /* Fundo transparente e com leve branco */
  background: rgba(255, 255, 255, 0.145);

  /* Desfoque do que está atrás */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* compatibilidade Safari */

  /*  Bordas e sombra */
  border: 2px solid rgba(255, 255, 255, 0.277);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  /* Centralização */
  display: flex;
  flex-direction: column;
  align-items: center;
}


nav.menu {
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap:wrap;
    margin: 30px 0;
}



nav.menu a {
  width: auto;
  padding: 12px 28px;
  background-color: #FFF05A;
  border: 2px solid #FFF05A;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium';
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #1F2421;
  transition: all 0.3s ease;
}

nav.menu a:hover {
    background-color: #FFF05A;
    color: black;
    transform: scale(1.1);
    zoom: 100%;
}

/*titulo cadastro*/
.formulario h1 {
    color: white;
    font-family: 'Verdana';
    font-size: 50px;
    margin: 1rem;
    padding: 2rem;
}


/* inputs */
.formulario input{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    border: none;
    outline: none;
}


/* botao cadastrar */
.formulario button{    
  background-color: #FFF05A;
  border: none;
  padding: 15px;
  width: 50%;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  left: 50%;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}


/* botao transição de animação */
button:hover{
  background: #FFF05A;
  color: black;
  cursor: pointer;
  border-style:groove;
  transition-duration: 0,5s;
  zoom: 100%;
  transform: scale(1.1);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}