body {
    background-color: lightseagreen;
}

h1 {
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_2t/8659.jpg);
    background-size: cover;
    background-repeat: repeat;
    width: 40%;
    height: 40%;
    padding: 10%;

}

p {

}